@import "fonts.css";

/* fontawesome */
[class*="fontawesome-"]:before, .fontawesome {
  font-family: 'FontAwesome', sans-serif !important;
}

* {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance:none
}
html,body {
    -moz-user-select:-moz-none;
    -webkit-user-select:none;
    -user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    padding:0;
    margin:0;
    width:100% !important;
    height:100% !important;
}
body {
    background-color: #88aeca;
    background: url(../img/bkg2.jpg) 50% 50%;
    font:12px/1.4 "SourceSansPro","Helvetica World","HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-weight:200;
}
a {
    color: #535353;
    text-decoration: none;
}

/*** scrolls ***/
.dhx_scroll_x {
    width:50px;
    height:4px !important;
    left:1px;
    bottom:3px;
    background:rgba(255,255,255,.4);
    position:absolute;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    margin: 0 !important;
    padding: 0 !important;
}
.dhx_scroll_y {
    width:4px !important;
    height:50px;
    top:1px;
    right:3px;
    background:rgba(255,255,255,.4);
    position:absolute;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    margin: 0 !important;
    padding: 0 !important;
}
.dhx_scroll_cont {
    width:100%;
    height:auto;
    overflow:hidden;
    clear:both;
}
.dhx_view {
    position:relative;
    margin-bottom:1px;
    overflow:hidden;
    vertical-align:top;
    cursor:default;
}
.dhx_loading_overlay {
    width:100%;
    height:100%;
    position:absolute;
    z-index:99999;
    background-image:url(./imgs/loading.png);
    background-repeat:no-repeat;
    background-position:center;
}
.dhx_drag_zone {
    position:absolute;
    background-color:white;
    padding:5px;
}
.dhx_mainbar {
    color: #053059;
    padding:0;
    background:rgba(256,256,256,1);
    color: #3f3f3f;
    margin:0 0 2px;
    font-size:16px;
    line-height:1;
    font-weight:200;
    text-shadow:0 1px 1px rgba(0,0,0,.8);
    height: 44px;
    position:relative;
    overflow:visible
}
.dhx_mainbar .title {
    display:block;
    position:absolute;
    top:13px;
    left:50%;
    margin-left:-150px;
}
.dhx_mainbar .logo, .dhx_mainbar .logo1, .dhx_mainbar .logo2 {
    display:block;
    position:absolute;
    top:6px;
    right:10px;
    width:220px;
    height:32px;
    z-index:9999
}
.logo {
    background:url(../img/logo.png) no-repeat 0 0;
}
.logo1 {
    background:url(../img/logo1.png) no-repeat 0 0;
}
.logo2 {
    background:url(../img/logo2.png) no-repeat 0 0;
}
.dhx_mainbar a {
    display: block;
    width: 100%;
    height: 100%;
}

/*** validation ***/
#container-validation {
    font-size: 16px;
    width: 300px;
    height: 250px;
    background:#fff;
    padding:10px 10px 20px;
    box-shadow:0 0 10px rgba(0,0,0,.6);
    position: absolute;
    top:50%;
    left: 50%;
    margin: -125px 0 0 -150px;
}
#container-validation input {
    font-size: 16px;
}
#container-validation input[type="submit"] {
    border-radius: 3px;
    background:#1D4968;
    -webkit-box-shadow:inset 1px 1px 1px rgba(255,255,255,.1),inset -1px -1px 1px rgba(0,0,0,.3);
    color: #fff !important;
    border: 0;
    padding: 5px 10px !important
}

/*** general ***/
.dhx_layout_ > .dhx_view {
    clear: both;
}

/*** calendar ***/
table {
    width:100%;
}
td {
    width:44px;
    text-align: center;
}
td > div {
    margin:0 1px 1px 0;
    background:rgba(256,256,256,1);
    font-size:18px;
    font-weight:400;
    color: #161614;
    text-shadow: 0px 0px 0px, 0, 0, .8);
    line-height:43px;
    position:relative;
}
td > div.dhx_cal_day_num_rborder {
    margin:0 0 1px 0;
}
td > div.dhx_cal_selected_day {
    background:rgba(256,256,256,.5);
    color: #3f3f3f
}
td > div.dhx_cal_current_day {
    background:rgba(5,48,89,1);
    color:#fff
}
td > div.dhx_prev_month,td > div.dhx_next_month {
    background:rgba(21,36,62,.3);
    content:'.';
    text-indent:-1000em
}
.dhx_cal_month {
    height:43px;
    margin:0 47px 1px 45px;
    background:rgba(256,256,256,1.0);
    font-size:16px;
    font-weight:400;
    color: #414141;
    text-shadow:0 1px 2px rgba(0,0,0,.5);
    line-height:43px;
    text-align:center;
    text-transform:uppercase;
    position:relative;
}
.dhx_cal_arrow {
    width:44px;
    height:43px;
    background:rgba(256,256,256,1);
    font-size:16px;
    font-weight:bold;
    letter-spacing:-.05em;
    text-shadow:0 1px 2px rgba(0,0,0,.5);
    line-height:43px;
    text-align:center;
    position:absolute;
    top:0;
}
.dhx_cal_arrow:before {
    font-size:30px;
    font-weight:normal;
    letter-spacing:-.05em;
    text-shadow:0 1px 2px rgba(0,0,0,.5);
    line-height:43px;
    width:100%;
    height:100%;
    display:block;
}
.dhx_cal_prev_button {
    left:-45px;
}
.dhx_cal_next_button {
    right:-47px;
    width:46px;
}
.dhx_cal_header {
    background:rgba(5,48,89,1);
    margin:0 1px 1px 0;
}
.dhx_cal_day_name {
    font-weight: bold;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 3px;
    width:14.28571428571429% !important;
}
.dhx_cal_day_num .day_with_events {
    position:absolute;
    bottom:1px;
    right: 1px;
}
.evt {
    /* each event marker */
    width:5px;
    height:5px;
    background:#fff;
    border-radius:5px;
    margin:0 2px 2px 0;
    float:right
}

/*** events lists ***/
.day_events {
    margin-top: 0 !important;
}
.dhx_list_item {
    color: #170616;
    cursor:pointer;
    background:rgba(256,256,256,.8);
    font-size:13px;
    font-weight:400;
    text-shadow: 0px 0px 2px, 0, 0, .8);
    line-height:42px;
    white-space:nowrap;
    text-align:left;
    margin-bottom:1px;
    position: relative;
    height: 42px !important;
}
.dhx_event_text {
    /* event title on general lists */
    color: #484848;
                                      
    padding-left:10px;
    line-height:1;
    padding:8px 0 3px 10px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap; 
    width: 100%
}
.dhx_event_text.no-location {
    /* event title on general lists */
    color: #404040;
                                      
    padding-left:10px;
    line-height:42px;
    padding:0 0 0 10px;
}
.dhx_event_location {
    color: #3d3d3d;
    width:auto;
    font-size:11px;
    line-height:1;
    padding:0 0 10px 9px;
}
.dhx_event_location.no-location {
    display:none;
}
.dhx_event_overall {
    position:relative;
}
.dhx_day_title {
    /* date box on list sheet */
    text-shadow:none;
    text-align:center;
    width:85px;
    vertical-align:middle;
    margin:0 5px 0 0;
    background:rgba(5,48,89,1);
    color:#ddd;
    font-size:16px;
    font-weight:400;
    letter-spacing:-.05em;
    line-height:34px;
    height:44px;
    padding:5px;
    position:absolute;
    top:0;
    left:0
}
.dhx_day_title div {
    display: block
}
.dhx_day_title .double_date {
    /* double date in day box on list sheet */
    font-size:14px;
    line-height:16px;
    font-weight:400
}
.dhx_event_overall .dhx_event_text,.dhx_event_overall .dhx_event_location {
    /* event title on list sheet */
    margin-left:90px;
    width:auto !important;
}
/*** selected event sheet ***/
.selected_event {
    background:#fffefe;
    padding:10px 10px 20px;
    margin:10px;
    box-shadow:0 0 10px rgba(0,0,0,.6);
}
.event_titles {
    /* selected event sheet titles */
    font-size:12px;
    color: #09272c;
    text-transform:uppercase;
    line-height:.9;
    position:relative;
}
.event_titles a {
    /* edit note button in notes title */
    display:inline-block;
    font-size:16px;
    color: #09272c;
    position:absolute;
    top:-3px;
    right:0;
}
.event_title {
    /* the event title */
    font-size:25px;
    line-height:1;
    color:#222;
    margin:5px 0 20px;
}
.event_date_box {
    /* the dates box */
    background:rgba(177,186,29,0.5);
    color:#666;
    font-weight:800;
    font-size:50px;
    line-height:1;
    padding:10px;
    margin:-10px -10px 10px;
    letter-spacing:-.05em;
}
.event_location,.event_email,.event_website,.event_phone {
    font-size:16px;
}
.event_email a,.event_website a,.event_phone a {
    margin-left:5px;
}
.event_email:before,.event_website:before,.event_phone:before {
    color: #09060d;
}
.event_notes {
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #eee;
    font-size:14px;
}
#event-notes {
    margin-top: 5px;
}
/*** notes entry sheet ***/
#notes_title {
    font-size:15px;
    color: #161614;
    padding:5px 5px 15px;
}
#notes_title strong {
    font-weight: bold;
}
#the-note { /* the textarea */
margin-left:-5px;
height: 192px;
width:100%;
padding:5px;
font-size:15px;
-webkit-box-shadow: inset 0 2px 6px 1px rgba(0, 0, 0, .5);
box-shadow: inset 0 2px 6px 1px rgba(0, 0, 0, .5);
}
/*** buttons ***/
.dhx_el_imagebutton span,.dhx_inp_form_button,.dhx_el_button input,.dhx_el_formbutton input,.dhx_el_prevbutton input,.dhx_el_nextbutton input,.dhx_el_roundbutton input {
    height:32px;
    font-family:"SourceSansPro","Helvetica World","HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-size:14px;
    font-weight:bold;
    color: #f7f9fb;
    background-color:rgba(4,63,63,.6);
    border:0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-box-shadow:1px 1px 1px rgba(255,255,255,.2),-1px -1px 1px rgba(0,0,0,.6),inset 1px 1px 1px rgba(255,255,255,.1),inset -1px -1px 1px rgba(0,0,0,.3);
    text-shadow:-1px -1px 1px rgba(0,0,0,0.4),1px 1px 1px rgba(255,255,255,0.2);
    margin:4px 5px;
    padding: 0 10px;
}
.cancel input {
    background:#09272c
}
.ok input {
    background:#09272c
}
.fontawesome input {
    font-family:'FontAwesome' !important;
}
.dhx_el_segmented {
    font-family:"SourceSansPro","Helvetica World","HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-weight:400;
}
.dhx_all_segments {
    float:none !important;
    height:30px;
    -o-box-shadow: 0 1px 0 #fff;
    -ms-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
}
.dhx_all_segments {
    margin:5px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    font-size:0;
    -o-box-shadow: 0 1px 1px #ebebeb;
    -ms-box-shadow: 0 1px 1px #ebebeb;
    -moz-box-shadow: 0 1px 1px #ebebeb;
    -webkit-box-shadow: 0 1px 1px #ebebeb;
    -webkit-box-shadow:1px 1px 1px rgba(255,255,255,.1),-1px -1px 1px rgba(0,0,0,.3);
    display:inline-block;
    width:auto;
    white-space:nowrap;
}
.dhx_el_segmented .segment_0,.dhx_el_segmented .segment_1,.dhx_el_segmented .segment_N {
    background:rgba(4,63,63,.3);
    -webkit-box-shadow:inset 1px 1px 1px rgba(255,255,255,.1),inset -1px -1px 1px rgba(0,0,0,.3);
}
.dhx_el_segmented .selected.segment_0,.dhx_el_segmented .selected.segment_1,.dhx_el_segmented .selected.segment_N {
    background:rgba(4,63,63,.6);
    color: #161614;
    text-shadow:-1px -1px 1px rgba(0,0,0,.3),1px 1px 1px rgba(255,255,255,.1);
    -webkit-box-shadow:none;
}
.dhx_all_segments div {
    padding:0 20px;
    text-shadow:-1px -1px 1px rgba(0,0,0,.3),1px 1px 1px rgba(255,255,255,.1);
    display:inline-block;
    color: #fffefe;
    font-weight:400;
    font-size:14px;
    text-align:center;
    line-height:30px;
    cursor:pointer;
}
.dhx_all_segments div.selected {
    color: #161614;
    text-shadow: 0 -1px 0 rgba(0,0,0,.9),0px 1px 0 rgba(255,255,255,0.2);
}
.dhx_el_segmented .segment_0,.dhx_el_segmented .selected.segment_0 {
    border-radius:0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
}
.dhx_all_segments .segment_N {
    border-radius:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright: 3px;
}

/*** Media Queries ***/
/* Phone Portrait */
@media only screen and (max-width : 640px) {

.dhx_mainbar .title {display:none}
.dhx_mainbar .logo, .dhx_mainbar .logo1, .dhx_mainbar .logo2 {
        display:block;
        position:absolute;
        top:6px;
        left:50%;
        width:220px;
        height:32px;
        margin-left:-110px;
        z-index:9999;
    }


}


/* Tablet Portrait */
@media only screen and (min-width: 641px) and (max-width: 1767px) and (orientation : portrait){
    .dhx_mainbar {
        font-size:28px;
        font-weight:400;
    }
    .dhx_mainbar .title {
        display:block;
        position:absolute;
        top:6px;
        left:10px;
        margin-left:0;
    }
    .dhx_mainbar .logo, .dhx_mainbar .logo1, .dhx_mainbar .logo2 {
        display:block;
        position:absolute;
        top:6px;
        right:10px;
        width:220px;
        height:32px;
        z-index:9999;
    }
    /*** calendar ***/
    div[view_id="calendar1"] {
        height:auto !important;
    }
    td > div {
        font-size:28px !important;
    }
    .dhx_cal_month {
        margin:0 75px 1px 73px !important;
    }
    .dhx_cal_month,.dhx_cal_arrow {
        height:81px !important;
        font-size:26px !important;
        line-height:81px !important
    }
    .dhx_cal_arrow {
        width:72px !important
    }
    .dhx_cal_arrow:before {
        font-size:36px !important;
        line-height:76px !important;
        width:72px !important
    }
    .dhx_cal_prev_button {
        left:-73px !important;
    }
    .dhx_cal_next_button {
        width:74px !important;
        right:-75px !important;
    }
    .evt {
        width:8px;
        height:8px;
        border-radius:4px;
        margin: 0 4px 4px 0;
    }
    /*** Lists ***/
    .dhx_list_item {
        color: white;
        line-height:81px;
        height:81px !important;
        margin:0 0 1px;
    }
    .dhx_event_text {
        font-size:20px;
        padding:18px 0 6px 20px
    }
    .dhx_event_location {
        font-size:17px;
        padding:0 0 20px 20px
    }
    .dhx_day_title {
        height:81px;
        font-size:24px !important;
        width:140px;
        padding: 10px;
    }
    .dhx_day_title .double_date {
        /* double date in day box on list sheet */
        font-size:22px;
        line-height:29px;
        font-weight:400
    }
    .dhx_event_overall .dhx_event_text,.dhx_event_overall .dhx_event_location {
        margin-left: 140px
    }
    /*** selected event sheet ***/
    .selected_event {
        padding:20px 20px 60px;
        margin: 20px;
    }
    .event_titles {
        /* selected event sheet titles */
        font-size:16px;
    }
    .event_titles a {
        /* edit note button in notes title */
        font-size:20px;
    }
    .event_title {
        /* the event title */
        font-size:50px;
        margin:20px 0 50px;
    }
    .event_date_box {
        /* the dates box */
        font-size:100px;
        line-height:1;
        padding:20px;
        margin:-20px -20px 20px;
        letter-spacing:-.05em;
    }
    .event_location {
        font-size:30px;
        margin-bottom:20px
    }
    .event_email,.event_website,.event_phone {
        font-size:20px;
    }
    .event_email a,.event_website a,.event_phone a {
        margin-left:10px;
    }
    .event_extra {
        font-size: 18px;
    }
    .event_notes {
        margin-top:30px;
        padding-top:20px;
        font-size:20px;
    }
    #event-notes {
        margin-top: 10px;
    }
    /*** notes entry sheet ***/
    #notes_title {
        font-size:25px;
    }
    #notes_title strong {
        display:block;
        font-size:30px;
        line-height:1;
        font-weight: normal;
    }
    #the-note {
        /* the textarea */
        height:425px;
        padding:15px;
        font-size:20px;
    }
}
 
/* Tablet Landscape */           
@media only screen and (min-width : 768px) and (max-width : 1111024px) and (orientation : landscape){
    td > div {
        height: 81px !important;
         line-height: 81px !important;
         width: auto !important;
    }
    div[view_id="calendar1"], div[view_id="list2"] {
        width: 50% !important;
        display: inline-block !important;
        height: 100% !important;
        padding-right: 1px
    }
    .dhx_mainbar {
        font-size:28px;
        font-weight:400;
    }
    .dhx_mainbar .title {
        display:block;
        position:absolute;
        top:6px;
        left:10px;
        margin-left:0;
    }
    .dhx_mainbar .logo, .dhx_mainbar .logo1, .dhx_mainbar .logo2 {
        display:block;
        position:absolute;
        top:6px;
        right:10px;
        width:220px;
        height:32px;
        z-index:9999;
    }

    /*** calendar ***/
    div[view_id="calendar1"] {
        height:auto !important;
    }
    td > div {
        font-size:28px !important;
    }
    .dhx_cal_month {
        margin:0 74px 1px 73px !important;
    }
    .dhx_cal_month,.dhx_cal_arrow {
        height:81px !important;
        font-size:26px !important;
        line-height:81px !important
    }
    .dhx_cal_arrow {
        width:72px !important
    }
    .dhx_cal_arrow:before {
        font-size:36px !important;
        line-height:76px !important;
        width:72px !important
    }
    .dhx_cal_prev_button {
        left:-73px !important;
    }
    .dhx_cal_next_button {
        width:73px !important;
        right:-74px !important;
    }
    .evt {
        width:8px;
        height:8px;
        border-radius:4px;
        margin: 0 4px 4px 0;
    }
    /*** Lists ***/
    .dhx_list_item {
        color: #383838;
        line-height:81px;
        height:81px !important;
        margin:0 0 1px;
    }
    .dhx_event_text {
        font-size:20px;
        padding:18px 0 6px 20px
    }
    .dhx_event_location {
        font-size:17px;
        padding:0 0 20px 20px
    }
    .dhx_day_title {
        height:81px;
        font-size:24px !important;
        width:140px;
        padding: 10px;
    }
    .dhx_day_title .double_date {
        /* double date in day box on list sheet */
        font-size:22px;
        line-height:29px;
        font-weight:400
    }
    .dhx_event_overall .dhx_event_text,.dhx_event_overall .dhx_event_location {
        margin-left: 140px
    }
    /*** selected event sheet ***/
    .selected_event {
        padding:20px 20px 60px;
        margin: 20px;
    }
    .event_titles {
        /* selected event sheet titles */
        font-size:16px;
    }
    .event_titles a {
        /* edit note button in notes title */
        font-size:20px;
    }
    .event_title {
        /* the event title */
        font-size:50px;
        margin:20px 0 50px;
    }
    .event_date_box {
        /* the dates box */
        font-size:90px;
        line-height:1;
        padding:20px;
        margin:-20px -20px 20px;
        letter-spacing:-.05em;
    }
    .event_text {
        display: inline-block;
    }
    .event_text:last-child:before {
        content: "~ ";
        margin-left: .15em
    }
    .event_location {
        font-size:30px;
        margin-bottom:20px
    }
    .event_email,.event_website,.event_phone {
        font-size:20px;
    }
    .event_email a,.event_website a,.event_phone a {
        margin-left:10px;
    }
    .event_extra {
        font-size: 18px;
    }
    .event_notes {
        margin-top:30px;
        padding-top:20px;
        font-size:20px;
    }
    #event-notes {
        margin-top: 10px;
    }
    /*** notes entry sheet ***/
    #notes_title {
        font-size:25px;
    }
    #notes_title strong {
        display:block;
        font-size:30px;
        line-height:1;
        font-weight: normal;
    }
    #the-note {
        /* the textarea */
        height:280px;
        padding:15px;
        font-size:20px;
    }
}
/* Phone Landscape */
@media only screen and (max-width : 640px) and (orientation : landscape){
    td > div {
        height: 30px !important;
        line-height: 30px !important;
        width: auto !important;
    }
    .dhx_caol_body, div[view_id="calendar1"], div[view_id="list2"] {
        width: 50% !important;
        display: inline-block !important;
        height: 100% !important;
        padding-right: 1px;
    }
    div[view_id="calendar1"] {
        height:auto !important;
    }
    td {
        width:auto !important;
        height: 30px !important;
        /*text-align:center;*/
    }
    .event_text {
        display: inline-block;
    }
    .event_text:last-child:before {
        content: "~ ";
        margin-left: .15em
    }
}

/* Logos @2x */
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .logo1 {
        background-image: url('../img/logo1@2x.png');
        background-size: 100% 100%;
    }
    .logo2 {
        background-image: url('../img/logo2@2x.png');
        background-size: 100% 100%;
    }
    .logo {
        background-image: url('../img/logo@2x.png');
        background-size: 100% 100%;
    }
}

/* Post Splashscreen */
#post-splashscreen {
    height:100%;
    background-size: 100% 100%;
}
#post-splashscreen a {
    display:block;
    width:100%;
    height:100%;
}
a#post-splashscreen-close-button {
    position: absolute;
    top:10px;
    right:10px;
    width:40px;
    height:40px;
    background: #a90329;
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    border-radius:4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
#post-splashscreen-close-button:after {
    content:'×';
    text-align:center;
    display:block;
    line-height:40px;
    font-size:40px;
    font-weight: bold;
    color:#fff;
}
/* Portrait */
@media screen and (orientation:portrait) {
    #post-splashscreen {
        background-image: url('../img/vertical-splashscreen.png');
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    #post-splashscreen {
        background-image: url('../img/horizontal-splashscreen.png');
    }
}
